body {
    margin-top: 0px;
    margin-left: 0px;
}

#page_1 {
    position:relative; 
    overflow: hidden;
    margin: 96px 0px 190px 96px;
    padding: 0px;
    border: none;
    width: 720px;
}





.ft0 {
    font: 24px 'Times New Roman';
    line-height: 27px;
}

.ft1 {
    font: bold 14px 'Times New Roman';
    line-height: 19px;
}

.ft2 {
    font: 14px 'Times New Roman';
    text-decoration: underline;
    line-height: 18px;
}


.ft3 {
    font: italic 14px 'Times New Roman';
    line-height: 18px;
}

.ft4 {
    font: 14px 'Times New Roman';
    line-height: 18px;
}

.ft5 {
    font: 15px 'Times New Roman';
    text-decoration: underline;
    line-height: 17px;
}

.ft6 {
    font: italic 15px 'Times New Roman';
    text-decoration: underline;
    line-height: 17px;
}

.ft7 {
    font: 15px 'Times New Roman';
    line-height: 17px;
}

.ft8 {
    font: italic 14px 'Times New Roman';text-decoration: underline
    ;line-height: 17px;
}

.ft9 {
     font: bold 14px 'Times New Roman';
     text-decoration: underline;line-height: 18px;
    }

.ft10 {
    font: 14px 'Times New Roman';
    line-height: 17px;
}

.ft11 {
    font: 15px 'Times New Roman';
    margin-left: 12px;
    line-height: 18px;
}

.ft12 {
    font: italic 15px 'Times New Roman';
    text-decoration: underline;
    line-height: 18px;
}

.ft13 {
    font: bold 15px 'Times New Roman'
    ;text-decoration: underline;
    line-height: 18px;
}

.ft14 {
    font: italic bold 15px 'Times New Roman';
    text-decoration: underline;
    line-height: 19px;
}

.ft15 {
    font: 15px 'Times New Roman';
    line-height: 18px;
}

.ft16 {
    font: bold 15px 'Times New Roman';
    line-height: 18px;
}

.ft17 {
    font: italic bold 15px 'Times New Roman';
    line-height: 19px;
}

.p0 {
    text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1 {
    text-align: justify;padding-right: 91px;margin-top: 21px;margin-bottom: 0px;}
.p2 {
    text-align: justify;padding-right: 96px;margin-top: 0px;margin-bottom: 0px;}
.p3 {
    text-align: justify;padding-right: 96px;margin-top: 2px;margin-bottom: 0px;}
.p4 {
    text-align: justify;padding-right: 96px;margin-top: 3px;margin-bottom: 0px;}
.p5 {
    text-align: left;margin-top: 20px;margin-bottom: 0px;}
.p6 {
    text-align: left;margin-top: 2px;margin-bottom: 0px;}
.p7 {
    text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p8 {
    text-align: justify;padding-right: 91px;margin-top: 2px;margin-bottom: 0px;}
